:root {
  --color-white: hsl(0, 0%, 95%);
  --color-black: hsl(0, 0%, 05%);
  --color-primary: hsl(221, 83%, 53%);
  --color-light-gray: hsl(220, 14%, 92%);
  --color-gray: hsl(220, 14%, 50%);
  --p-inline: clamp(0.75rem, 0.6286rem + 0.5178vw, 2rem);
  --p-block: 1rem;
  --gap: 1rem;
  --border-radius: 2rem;
  --fs-small: clamp(0.75rem, 0.6286rem + 0.5178vw, 0.95rem);
  --fs-medium: clamp(1rem, 0.6966rem + 1.0945vw, 1.25rem);
  --fs-large: clamp(1.5rem, 1.0291rem + 1.2924vw, 3rem);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  width: 100%;
  padding-inline: var(--p-inline);
  background-color: var(--color-white);
  height: 60px;
}

.footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6vh;
  padding-block: calc(var(--p-block) * 2);
}

.footer-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-body__content {
  text-wrap: balance;
  font-size: var(--fs-medium);
  color: var(--color-gray);
  padding-right: 5ch;
}

.footer-body__nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-medium);
  gap: var(--gap);
}

.footer-body__nav-sublist {
  padding-top: calc(var(--gap) * 0.5);
  font-size: var(--fs-small);
  color: var(--color-gray);
}

@media screen and (min-width: 768px) {
  .footer-body {
    flex-direction: row;
    justify-content: center;
  }

  .footer-body__nav-list {
    flex-direction: row;
    margin: 0 var(--gap); /* Agrega un margen a cada lado de la lista */
  }
}

.footer-attribute {
  color: var(--color-gray);
  text-align: center;
  font-size: var(--fs-small);
}
